asinus/
.cache
__pycache__
*.egg-info
.ipynb_checkpoints
*.pyc
*.pyo
.tox
dist
build
private
restats

# Coverage reports
.coverage
.coverage.*

# editor 
.idea
.project
.pydevproject

# pyenv
.python-version

# venv
env/
venv/

# libreoffice
.~lock.*
mongodb-compass_1.40.4_amd64.deb
sysproduction/linux/scripts/run_test_run
sysproduction/run_test_run.py
data/futures/adjusted_prices_csv/
data/futures/roll_calendars_csv/
data/backups_csv/
sysproduction/data/backups_csv/
sysproduction/data/futures/
sysproduction/data/mongo_dump/
sysproduction/email.log

